*.eww
*.wsdt
*.ewd
*.ewp
*.d51
*.dep
*.hex
*.bat
*.dbgdt
*.dni
*.map
*.r51
*.pbd
examples/source/apps/light_switch/light_switch.c
*.pbi
*.pdb
*.obj
*.tlog
*.manifest
*.log
*.lastbuildstate
*.cache
*.exe
*.user
*.filters
*.vcxproj
*.idb
*.suo
*.sln
*.ipch